<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-4 col-sm-4 padding-top-10">
                <img src="assets/myresources/logos/hml-logo-only-white.png" height="20px" width="20px"> HumachLab. &copy; <span id="current-year"></span> ALL Rights Reserved.
            </div>
            <!-- END COPYRIGHT -->

            <!-- BEGIN PAYMENTS -->
            <div class="col-md-4 col-sm-4">
                <ul class="social-footer list-unstyled list-inline pull-right">
                    <li><a href="https://www.facebook.com/humachlab" target="_blank"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="https://x.com/@humachlab" target="_blank"><i class="bi bi-twitter-x"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/humachlab" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                    <li><a href="https://github.com/humachlab" target="_blank"><i class="bi bi-github"></i></a></li>
                    <li><a href="https://www.youtube.com/@humachlab" target="_blank"><i class="bi bi-youtube"></i></a></li>
                    <li><a href="https://teams.microsoft.com/l/chat/0/0?users=humachlab@outlook.com" target="_blank"><i class="bi bi-microsoft-teams"></i></a></li>
                </ul>
            </div>
            <!-- END PAYMENTS -->

            <!-- BEGIN POWERED -->
            <div class="col-md-4 col-sm-4 text-right">
                <p class="powered">Powered by: <a href="http://www.humachlab.com/">HumachLab</a> | Theme Source: <a href="http://www.keenthemes.com/">KeenThemes.com</a></p>
            </div>
            <!-- END POWERED -->
        </div>
    </div>
</div>
<!-- END FOOTER -->