<!-- BEGIN HEADER -->
<div class="header">
    <div class="container">
        <a class="site-logo" href="index.html"><img src="assets/myresources/logos/HML-Logo-red.png" alt="HumachLab"></a>

        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation pull-right font-transform-inherit">
            <ul>
                <li class="dropdown-toggle">
                    <a href="index.html"><i class="fa fa-home"></i> Home</a>
                </li>

                <li class="dropdown dropdown-megamenu">
                    <a class="dropdown-toggle" href="services.html"><i class="fa fa-server"></i> Services</a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="header-navigation-content">
                                <div class="row">
                                    <div class="col-md-4 header-navigation-col">
                                        <h4><i class="fa fa-flask"></i> Research</h4>
                                        <ul>
                                            <li><a href="services.html?type=research&id=ai"><i class="fa fa-brain"></i> Artificial Intelligence (AI)</a></li>
                                            <li><a href="services.html?type=research&id=ml"><i class="fa fa-robot"></i> Machine Learning (ML)</a></li>
                                            <li><a href="services.html?type=research&id=dl"><i class="fa fa-network-wired"></i> Deep Learning (DL)</a></li>
                                            <li><a href="services.html?type=research&id=genai"><i class="fa fa-magic"></i> Generative AI (GenAI)</a></li>
                                            <li><a href="services.html?type=research&id=agai"><i class="fa fa-user-gear"></i> Agentic AI (AgAI)</a></li>
                                            <li><a href="services.html?type=research&id=hi"><i class="fa fa-heartbeat"></i> Health Informatics</a></li>
                                            <li><a href="services.html?type=research&id=sp"><i class="fa fa-wave-square"></i> Signal Processing</a></li>
                                            <li><a href="services.html?type=research&id=ss"><i class="fa fa-shield-alt"></i> System Security</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-4 header-navigation-col">
                                        <h4><i class="fa fa-graduation-cap"></i> Education</h4>
                                        <ul>
                                            <li><a href="services.html?type=education&id=crs"><i class="fa fa-book"></i> Course</a></li>
                                            <li><a href="services.html?type=education&id=trn"><i class="fa fa-chalkboard-teacher"></i> Training</a></li>
                                            <li><a href="services.html?type=education&id=oos"><i class="fa fa-user-graduate"></i> One-to-one Session</a></li>
                                            <li><a href="services.html?type=education&id=intshp"><i class="fa fa-briefcase"></i> Internship</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-4 header-navigation-col">
                                        <h4><i class="fa fa-code"></i> Development</h4>
                                        <ul>
                                            <li><a href="services.html?type=development&id=aisol"><i class="fa fa-lightbulb"></i> AI Solution</a></li>
                                            <li><a href="services.html?type=development&id=bussol"><i class="fa fa-chart-line"></i> Business Solution</a></li>
                                            <li><a href="services.html?type=development&id=web"><i class="fa fa-globe"></i> Web</a></li>
                                            <li><a href="services.html?type=development&id=appios"><i class="fa-brands fa-apple"></i> &nbsp;&nbsp; Apple Application (iOS)</a></li>
                                            <li><a href="services.html?type=development&id=andr"><i class="fa-brands fa-android"></i> &nbsp;&nbsp; Android</a></li>
                                            <li><a href="services.html?type=development&id=imgclip"><i class="fa fa-crop"></i> Image Clipping</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-target="#" href="index.html"><i class="fa fa-user"></i> About Us</a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html"><i class="fa fa-brain"></i> About HumachLab</a></li>
                        <li><a href="index.html"><i class="fa fa-palette"></i> Portfolio</a></li>
                        <li><a href="index.html"><i class="fa fa-user-friends"></i> Teams</a></li>
                    </ul>
                </li>

                <li class="dropdown-toggle">
                    <a class="dropdown-toggle" data-target="#" href="news.html"><i class="fa fa-newspaper"></i> News</a>
                </li>

                <li class="dropdown-toggle">
                    <a class="dropdown-toggle" data-target="#" href="contact.html"><i class="fa fa-address-book"></i> Contact</a>
                </li>

                <!-- BEGIN TOP SEARCH -->
                <li class="menu-search">
                    <span class="sep"></span>
                    <i class="fa fa-search search-btn"></i>
                    <div class="search-box">
                        <form action="form_search" method="POST" role="form" class="content-search-view2">
                            <div class="input-group">
                                <input type="text" name="search_query" placeholder="Search" class="form-control" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </li>
                <!-- END TOP SEARCH -->
            </ul>
        </div>
        <!-- END NAVIGATION -->
    </div>
</div>
<!-- Header END -->