
    <!-- html head: favicon, fonts, css and js list -->
    <!-- >load static files directory/folder: image-jpg|png|ico, css, js -->
    <meta charset="utf-8">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta content="HumachLab: Research, Education, Development" name="description">
    <meta content="Emran Ali, Education, Training, Research, Development, R&D, Artificial Intelligence, AI, Machine Learning, ML, Deep Learning, DL, Generative AI, GenAI, Agentic AI, AI Agents" name="keywords">
    <meta content="Emran Ali" name="author">

    <meta property="og:site_name" content="-CUSTOMER VALUE-">
    <meta property="og:title" content="-CUSTOMER VALUE-">
    <meta property="og:description" content="-CUSTOMER VALUE-">
    <meta property="og:type" content="website">
    <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
    <meta property="og:url" content="-CUSTOMER VALUE-">

    <!-- Fonts START -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all"
          rel="stylesheet" type="text/css">
    <!-- Fonts END -->

<!--    <title> HumachLab - Home </title>-->

<!--    &lt;!&ndash; favicon START &ndash;&gt;-->
<!--    <link rel="icon" type="image/png" href="assets/myresources/icons/HML-FavIcon-red.png" id="fav-icon">-->
<!--    &lt;!&ndash; favicon END &ndash;&gt;-->

    <!-- Global styles START -->
    <link href="assets/theme/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="assets/theme/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/theme/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <!-- Global styles END -->

    <!-- Page level plugin styles START -->
    <link href="assets/theme/pages/css/animate.css" rel="stylesheet">
    <link href="assets/theme/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
<!--    <link href="assets/theme/plugins/owl.carousel/assets/owl.carousel.css" rel="stylesheet">-->
    <link href="assets/theme/plugins/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
    <!-- Page level plugin styles END -->

    <!-- Theme styles START -->
    <link href="assets/theme/pages/css/components.css" rel="stylesheet">
    <link href="assets/theme/pages/css/slider.css" rel="stylesheet">
    <link href="assets/theme/corporate/css/style.css" rel="stylesheet">
    <link href="assets/theme/corporate/css/style-responsive.css" rel="stylesheet">

<!--    <link href="assets/theme/corporate/css/custom.css" rel="stylesheet">-->

<!--    <link href="assets/theme/corporate/css/themes/red.css" rel="stylesheet" id="style-color">-->
    <!-- Theme styles END -->
