<!-- BEGIN SLIDER -->
<div class="page-slider margin-bottom-40">
    <div id="carousel-example-generic" class="carousel slide carousel-slider">
        <!-- Indicators -->
        <ol class="carousel-indicators carousel-indicators-frontend">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- eight | nine | ten -->

            <!-- First slide -->
            <div class="item carousel-item-one active">
                <div class="container">
                    <div class="carousel-position-six text-uppercase text-center">
<!--                    <div class="carousel-position-five text-uppercase text-center">-->
                        <h2 class="margin-bottom-20 animate-delay carousel-title-v5" data-animation="animated fadeInDown">
<!--                            <a href="index.html"><img height="100" src="assets/myresources/logos/hml-logo-only-white.png"/></a> <br/>-->
                            <a href="index.html" class="carousel-logo-link"> <img id="header-logo" class="carousel-logo" src="assets/myresources/logos/hml-logo-only-white.png" alt="HumachLab Logo"> </a> <br/>
                            <span class="carousel-title-normal">HumachLab</span> <br/>
                        </h2>
                        <h2 class="margin-bottom-20 animate-delay carousel-subtitle-v1" data-animation="animated fadeInDown">
                            Make the machine think <br/>
                        </h2>
                        <p class="carousel-subtitle-v5 border-top-bottom margin-bottom-30" data-animation="animated fadeInDown">
                            Research • Education • Development
                        </p>
                        <p class="carousel-subtitle-v7" data-animation="animated fadeInDown">
                            Bridging human intelligence and machine intelligence
                        </p>
                    </div>
                </div>
            </div>

            <!-- Second slide -->
            <div class="item carousel-item-two">
                <div class="container">
                    <div class="carousel-position-six">
                        <h2 class="animate-delay carousel-title-v6 text-uppercase" data-animation="animated fadeInDown">
                            Research
                        </h2>
                        <p class="carousel-subtitle-v6 text-uppercase" data-animation="animated fadeInDown">
                            Cutting edge research in AI, ML & DL
                        </p>
                        <p class="carousel-subtitle-v8 margin-bottom-30" data-animation="animated fadeInDown">
                            Learn and apply advanced research in various fields <br/>
                            including Health Informatics, Sustainable Development, Security and Business Analytics.
                        </p>
                        <a class="carousel-btn-green" href="#" data-animation="animated fadeInUp">Join the Team!</a>
                    </div>
                </div>
            </div>

            <!-- Third slide -->
            <div class="item carousel-item-three">
                <div class="container">
                    <div class="carousel-position-six">
                        <h2 class="animate-delay carousel-title-v6 text-uppercase" data-animation="animated fadeInDown">
                            Education and Training
                        </h2>
                        <p class="carousel-subtitle-v6 text-uppercase" data-animation="animated fadeInDown">
                            Prepare for the future
                        </p>
                        <p class="carousel-subtitle-v8 margin-bottom-30" data-animation="animated fadeInDown">
                            Build and hone skills in Data Analytics and Machine Learning <br/>
                            with latest tools & technologies combining the domain knowledge.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Fourth slide -->
            <div class="item carousel-item-four">
                <div class="container">
                    <div class="carousel-position-six">
                        <h2 class="animate-delay carousel-title-v6 text-uppercase" data-animation="animated fadeInDown">
                            Development
                        </h2>
                        <p class="carousel-subtitle-v6 text-uppercase" data-animation="animated fadeInDown">
                            Communicate ideas with apps and solutions
                        </p>
                        <p class="carousel-subtitle-v8 margin-bottom-30" data-animation="animated fadeInDown">
                            Get the apps and website built for your business<br/>
                            with latest technology and AI integration.
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control carousel-control-shop carousel-control-frontend" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="right carousel-control carousel-control-shop carousel-control-frontend" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </div>
</div>
<!-- END SLIDER -->